{% extends "/base/index.jinja2" %}
{% block title %}Calcular Cuota{% endblock %}
{% block head %}
  {{ super() }}
  <script language="javaScript">
    var urlCalculateValues = "calculate_values"
  </script>
{% endblock %}
{% block content %}
<form id="frmCalculte" name="frmCalculte">
  <div>
    Valor producto:
  </div>
  <div>
    <input type="TEXT" id="txtValorProducto" name="txtValorProducto">
  </div>
  <div>
    Valor cuota:
  </div>
  <div>
    <input type="TEXT" id="txtCuota" name="txtCuota">
  </div>
  <div>
    Numero de cuotas
  </div>
  <div>
    <input type="TEXT" id="txtNumeroCuotas" name="txtNumeroCuotas">
  </div>
  <div id="showResult"></div>
  <div>
    <input type="BUTTON" value="Calcular" onclick="calculate()">
  </div>
  <script language="javaScript">
    validations();
  </script>
</form>
{% endblock %}
